# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env
*.egg-info/
dist/
build/
*.db

# Node
node_modules/
dist/
.DS_Store
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*
